@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

.my-container{
	border: 1px solid #aaa;
	background-color: white;
	max-width: 400px;
	margin: 110px auto 10px auto;
	padding: 1rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	font-family: "Lato";
}
.my-container h1{
	text-align: center;
}
.my-container ul{
	max-width: 200px;
	margin: auto;
}
.my-face{
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border:1px solid #aaa;
	margin-top:-100px;
}

/*stripe generator: http://www.stripegenerator.com/*/
/*7. set background image as: stripe_background.png*/
.my-body{
	image:url(Murugan.png);
	
}